body {
    background-image: url('/static/images/potobg.jpg');
    background-size: cover;

}

header {
    columns: 2;
    align-self: center;
    justify-self: center;


}


.potoprofil img {
    width: 300px;
    border-radius: 20%;
    /* margin-left: 120px; */

}

/* @media screen and (max-width: 1253px) {
    .potoprofil img {
        margin-left: 0%;
    } */

.fotoatas img {
    width: 70px;
    border-radius: 50%;
    /* float: left; */
    margin-left: 84px;
    margin-top: 10px;
    border: 2px solid black;
}

@media screen and (max-width: 992px) {
    .fotoatas img {
        margin-left: 0px;
    }
}

#nama1 {
    margin-left: 100px;
    margin-top: 33px;
}

.face {
    padding: 15%;
    display: flex;
    margin-left: 140px;
}

.tulisan {
    text-align: left;
    justify-self: center;
    align-self: center;
    max-width: 250px;
    font: 200px;
    left: 20px;
}

/* #nama {
    width: 250px;
} */

.sidenav {

    width: 165px;
    position: fixed;
    z-index: 1;
    top: 170px;
    left: 8px;
    /* background: #fae170; */

    padding: 8px 0;
}





.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


#c52 {
    padding-top: 50px;

}

#c51 {
    padding-top: 50px;
    /* padding-left: 100px; */
}

.tulisankotak {
    text-align: center;
    background: rgba(224, 235, 131, 0.6);
    background-size: auto;
    border-radius: 50px;
}

.tulisankotak1 {

    text-align: center;
    background: rgba(224, 235, 131, 0.6);
    background-size: auto;
    border-radius: 50px;

}

#exp {
    text-decoration: underline;
    border-top: 10px;
}

@media screen and (max-height: 450px) {
    #exp {
        font-size: 3vw;
    }

}

#exp1 {
    /* font-size: 20px; */
    border-top: 10px;
}


#sai {
    text-decoration: underline;
    border-top: 10px;
}

.semua {
    height: 100vh;
}

.fotokiri img {
    width: 320px;
    border-radius: 20%;

    margin-left: 30%;
    margin-top: 50px;
}

#row3 {
    align-content: center;
}

#row4 {
    align-content: center;
    margin-top: 160px;
}

.kontak {
    text-align: center;
}

#contactme {
    text-align: center;
}

#emil {
    margin-top: 80px;
}

#tw {
    border-radius: 50%;
}

#igl {
    border-radius: 50%;
}

#col11 {
    margin-left: 100px;
}

#ra {
    margin-top: 10px;
}

.tyu-img {
    width: 500px;
}

.uwu {
    align-content: center;
}

.tyu {
    text-align: center;
}

.oll {
    align-content: center;
}

#oll1 {
    align-content: center;
}

#oll2 {
    align-content: center;
}

@media screen and (max-width: 1000px) {
    .fotokiri img {
        margin-left: 10%
    }
}