<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
    <meta charset="UTF-8">
  <title>My web</title>
  <!-- <style>
  body {
    background-image:%static ('potobg.jpg')%;
    background-size: cover;

}</style> -->
</head>
<body>
  <div class="semua">
      <!-- <div class="sidenav">
          <a href="story3.html">Profile</a>
          <a href="story32.html">Experiences</a>
          <a href="story33.html">Contact</a>
          <a href="story34.html">Thanks</a>
        </div> -->
        <div class="topnav">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'homepage:story3' %}">Profile</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarText"
              aria-controls="navbarText"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link"   href="{% url 'homepage:story32' %}" 
                    >Experiences <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item active">
                  <a class="nav-link"  href="{% url 'homepage:story33' %}"
                    >Contact <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'homepage:story34' %}"
                    >Thanks <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'lab5:schedule_create' %}"
                    >Create Schedule <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'lab5:schedule' %}"
                    >See Schedule <span class="sr-only">(current)</span></a
                  >
                </li>
              </ul>
            </div>
          </nav>
        </div>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="fotoatas">
          <img src="{% static 'images/potoprofil.jpg' %}">
        </div>
      </div>
        <div class="col-10 my-3">
          <div class="mt-3">
              <b><p class="my-0">Muhammad</p>
                <p class="my-0" >Ramy Azhar</p></b>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-6 " id="c51">
        <div class="rectangle1">
          <div class="tulisankotak">
            <h1 style="font-size:4vw;" id="exp"> Experiences </h1>
            <br>
            <div id="exp1">
              <p>2018-now
                <br> Software engineer at Grab</p>
              <p>2017-2016
                <br> Software engineer at Gojek</p>
              <p>2016-2017
                <br> UI/UX at Shopee </p>
              <p>2014-2016
                <br> Product Manager at Tokopedia</p>
                <br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6" id="c52">
        <div class="rectangle2">
          <div class="tulisankotak1">
            <h1 style="font-size:4vw;" id="sai"> Skill and Interest </h1>
            <br>
            <div  id="exp1">
              <p>Programming
                </p>
            
                <br>
              <p>UI/UX
                </p>
                <br>
              <p>Business Intelligence
                </p>
                <br>
                <p>Product Manager
                </p>
                <br>
                <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</body>

</html>