<!DOCTYPE html>
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
    <title>My web</title>
</head>
<body>
        <!-- <div class="sidenav">
                <a href="story3.html">Profile</a>
                <a href="story32.html">Experiences</a>
                <a href="story33.html">Contact</a>
                <a href="story34.html">Thanks</a>
              </div> -->
              <div class="topnav">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <a class="navbar-brand" href="{% url 'homepage:story3' %}">Profile</a>
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarText"
                    aria-controls="navbarText"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link"   href="{% url 'homepage:story32' %}" 
                          >Experiences <span class="sr-only">(current)</span></a
                        >
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link"  href="{% url 'homepage:story33' %}"
                          >Contact <span class="sr-only">(current)</span></a
                        >
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url 'homepage:story34' %}"
                          >Thanks <span class="sr-only">(current)</span></a
                        >
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url 'lab5:schedule_create' %}"
                          >Create Schedule <span class="sr-only">(current)</span></a
                        >
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url 'lab5:schedule' %}"
                          >See Schedule <span class="sr-only">(current)</span></a
                        >
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
    <div class="row">
        <div class="col-6 ">
            <div class="face">
            <div class="potoprofil" >
                <img src="{% static 'images/potoprofil.jpg' %}" >
            </div>
            </div>
    </div>
        <div class="col-6 tulisan">
          <h1 style="font-size:4vw;">Muhammad </h1>
          <h1 style="font-size:4vw;" id="nama">Ramy Azhar</h1>
                <p>A Professional Programmer.</p>
            </div>
      </div>
      
    
</div>

</body>
</html>
